.slide-to-right {
	animation: slide-to-right 0.3s;
}

.fade-in {
	animation: fade-in 0.3s;
}

.fade-out {
	animation: fade-out 0.4s;
}

.spun {
	animation: spun 0.3s;
}

.spun-back {
	animation: spun-back 0.3s;
}

.slide-across {
	animation: slide-across 1s ease-out infinite;
}

@keyframes slide-to-right {
	from { right: -300px; }
	to   { right: 0; }
}

@keyframes fade-out {
	from { opacity: 1; }
	to   { opacity: 0; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes spun {
	from { transform: rotate(0deg); }
	to   { transform: rotate(180deg); }
}

@keyframes spun-back {
	from { transform: rotate(180deg); }
	to   { transform: rotate(0deg); }
}

@keyframes slide-across {
	from { left: -30%; }
	to   { left: 100%; }
}