@import 'Colors';

.button {
	border: none;
	padding: 8px 15px;
	text-transform: uppercase;
	margin: 5px;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	transition: all 0.3s ease-in-out;
	background-color: $primary;
	color: $textOnPrimary;
	font-size: 12px;
	font-family: inherit;
	display: inline-block;
	font-weight: normal;

	&:hover, &:focus {
		background-color: $primaryHover;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
		text-decoration: none;
		color: $textOnPrimaryHover;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		margin-bottom: 10px;
		margin-left: 0;
	}
}

.toggle-bio {
	background-color: $textOnPrimary;
	color: $primary;
	font-size: 32px;
	padding-left: 0;
	text-align: left;
	text-transform: none;
	box-shadow: none;

	@media screen and (max-width: 400px) {
		text-align: center;
	}

	&:hover {
		background-color: $textOnPrimary;
		color: $primaryHover;
		box-shadow: none;
	}
}

.white-button {
	background-color: $textOnPrimary;
	color: $primary;
	box-shadow: none;

	&:hover, &:focus {
		background-color: $textOnPrimaryHover;
		color: $primaryHover;
		box-shadow: none;
	}
}

.login-button {
	margin-top: 20px;
	
}

.header-select-btn {
	margin-right: 15px;
	padding: 5px 10px;
}

.table-button {
	font-size: 13px;
}

.save-button {
	background-color: $hyperLink;
	float: right;
}

.delete-button {
	background-color: $delete;
	font-size: 16px;
	padding: 6px 10px;

	&:hover, &:focus {
		background-color: $deleteHover;
		color: $textOnPrimaryHover;
	}
}

.small-delete {
	background-color: $delete;
	font-size: 16px;
	padding: 3px 8px;

	&:hover, &:focus {
		background-color: $deleteHover;
		color: $textOnPrimaryHover;
	}
}

.delete-button-reverse {
	background-color: $textOnPrimary;
	color: $delete;

	&:hover, &:focus {
		background-color: $textOnPrimaryHover;
		color: $deleteHover;
	}
}

.submit-button-line {
	display: flex;
	justify-content: flex-end;
}

.mini-select-button {
	padding: 5px 8px;
	font-size: 11px;
}

.small-button {
	font-size: 10px;
	padding: 7px 15px;
}

.button-bar {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

.close-button {
	background-color: $grey3;
	color: $grey1;
	font-size: 15px;
	// padding: 2px 5px;
	box-shadow: none;

	&:hover, &:focus {
		background-color: $grey2;
		color: $grey1;
		box-shadow: none;
	}
}

.close-big {
	display: none;
}

.close-modal-button {
	@media screen and (max-width: 400px) {
		padding: 6px 10px;
	}
}

.scroll-button {
	background-color: $grey3;
	color: $grey1;
	font-size: 15px;
	padding: 5px 9px;
	box-shadow: none;

	&:hover, &:focus {
		background-color: $grey2;
		color: $grey1;
		box-shadow: none;
	}
}

.form-button {
	display: block;
}

.delete-modal-button {
	background-color: $textOnPrimary;

	&:hover, &:focus {
		background-color: $textOnPrimaryHover;
	}

}

.accept {
	background-color: $delete;
	color: $textOnPrimary;

	&:hover, &:focus {
		background-color: $deleteHover;
	}
}
.reject {
	color: $primary;

	&:hover, &:focus {
		color: $primaryHover;
	}
}
		