@import 'Colors';

.button {
	border: none;
	padding: 8px 15px;
	text-transform: uppercase;
	margin: 5px;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	transition: all 0.3s ease-in-out;
	background-color: $primary;
	color: $textOnPrimary;
	font-size: 12px;
	font-family: inherit;
	display: inline-block;
	font-weight: normal;

	&:hover {
		background-color: $primaryHover;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
		text-decoration: none;
		color: $textOnPrimaryHover;
	}
}

.white-button {
	background-color: $textOnPrimary;
	color: $primary;
	box-shadow: none;

	&:hover {
		background-color: $textOnPrimaryHover;
		color: $primaryHover;
		box-shadow: none;
	}
}

.header-select-btn {
	margin-right: 15px;
	padding: 5px 10px;
}

.table-button {
	font-size: 13px;
}

.save-button {
	background-color: $hyperLink;
	float: right;
}

.delete-button {
	background-color: $delete;
	font-size: 16px;
	padding: 6px 10px;

	&:hover {
		background-color: $deleteHover;
		color: $textOnPrimaryHover;
	}
}

.small-delete {
	background-color: $delete;
	font-size: 16px;
	padding: 3px 8px;

	&:hover {
		background-color: $deleteHover;
		color: $textOnPrimaryHover;
	}
}

.delete-button-reverse {
	background-color: $textOnPrimary;
	color: $delete;

	&:hover {
		background-color: $textOnPrimaryHover;
		color: $deleteHover;
	}
}

.submit-button-line {
	display: flex;
	justify-content: flex-end;
}

.mini-select-button {
	padding: 5px 8px;
	font-size: 11px;
}

.small-button {
	font-size: 10px;
	padding: 7px 15px;
}

.button-bar {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

.close-button {
	background-color: $grey3;
	color: $grey1;
	font-size: 15px;
	padding: 2px 5px;
	box-shadow: none;

	&:hover {
		background-color: $grey2;
		color: $grey1;
		box-shadow: none;
	}
}

.scroll-button {
	background-color: $grey3;
	color: $grey1;
	font-size: 15px;
	padding: 5px 9px;
	box-shadow: none;

	&:hover {
		background-color: $grey2;
		color: $grey1;
		box-shadow: none;
	}
}

.form-button {
	display: block;
}