@import 'Colors';

.button {
	border: none;
	padding: 5px 10px;
	text-transform: uppercase;
	margin: 5px;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	transition: all 0.3s ease-in-out;
	background-color: $primary;
	color: $textOnPrimary;

	&:hover {
		background-color: $primaryHover;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
	}
}

.white-button {
	background-color: $textOnPrimary;
	color: $primary;

	&:hover {
		background-color: $textOnPrimaryHover;
	}
}

.header-select-btn {
	margin-right: 15px;
}

.table-button {
	background-color: $hyperLink;
	font-size: 15px;
}