@import 'Colors';

.button {
	border: none;
	padding: 8px 15px;
	text-transform: uppercase;
	margin: 5px;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	transition: all 0.3s ease-in-out;
	background-color: $primary;
	color: $textOnPrimary;
	font-size: 12px;
	font-family: inherit;
	display: inline-block;
	font-weight: normal;

	&:hover {
		background-color: $primaryHover;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
		text-decoration: none;
	}
}

.white-button {
	background-color: $textOnPrimary;
	color: $primary;

	&:hover {
		background-color: $textOnPrimaryHover;
	}
}

.header-select-btn {
	margin-right: 15px;
	padding: 5px 10px;
}

.table-button {
	background-color: $hyperLink;
	font-size: 13px;

	&:hover {
		color: $textOnPrimaryHover;
	}
}

.save-button {
	background-color: $hyperLink;
	float: right;
}

.delete-button {
	background-color: $delete;
	font-size: 16px;
	padding: 6px 10px;

	&:hover {
		background-color: $deleteHover;
		color: $textOnPrimaryHover;
	}
}

.submit-button-line {
	display: flex;
	justify-content: flex-end;
}

.mini-select-button {
	padding: 5px 8px;
	font-size: 11px;
}

.small-button {
	font-size: 10px;
	padding: 7px 15px;
}