@import 'Colors';

.calendar {
	.modal-content {
		position: relative;
		width: auto;
		max-width: 100vw;
		transition: all 0.3s ease-in-out;
		padding: 0;
		max-height: 100vh;

		.calendar-header {
			position: absolute;
			top: 10px;
			right: 10px;
			display: flex;
			align-items: center;
		}

		.month-view {
			width: 100vw;
			max-width: 1200px;
			display: inline-block;
			text-align: left;
			padding: 25px;
			box-sizing: border-box;

			.calendar-body {
				margin-top: 15px;
			}

			.week, .day-headers {
				display: flex;
				min-width: 100%;
				justify-content: space-between;
				align-items: center;


				.day-header {
					flex: 1;
					text-align: center;
					font-size: 12px;
					background-color: $headerGrey;
					color: $grey2;
					padding: 5px 0;
				}
			}

			.day {
				font-size: 12px;
				text-align: right;
				height: 120px;
				flex: 1;
				box-sizing: border-box;
				padding: 5px;

				.events {
					width: 100%;
					height: calc(100% - 15px);
					border-radius: 2px;
					transition: all 0.3s ease-in-out;
					padding: 3px;
					box-sizing: border-box;
					overflow: hidden;

					.month-event {
						background-color: $grey1;
						color: $grey3;
						padding: 1px 4px;
						margin: 1px;
						text-align: left;
					}

					&:hover {
						background-color: rgba(0,0,0,0.1);
					}
				}
			}

			.other-month {
				background-color: $grey3;
				color: $grey1;
			}

			.today {
				background-color: $hyperLink;
				color: $grey1;
			}
		}
	}
}

.day-view {
	width: 100vw;
	max-width: 500px;
	max-height: 600px;
	overflow: auto;
	display: inline-block;
	text-align: left;
	padding: 25px;
	box-sizing: border-box;
	min-height: 400px;

	.form {
		display: block;
		margin: 15px 0;

		.form-header {
			.editable-input {
				font-size: 15px;
			}
		}

		.extra-wide {
			width: 100%;

			.editable-input {
				width: 100%;
				max-width: 100%;
			}
		}

		.line-item {
			display: inline-block;

			.editable-input {
				border: none;
				background-color: transparent;
				border-bottom: 1px solid $borderGrey;
			}

			.time {
				.ms-select {
					border: none;
					border-bottom: 1px solid $borderGrey;

					.shown-box {
						background-color: transparent;
					}
				}
			}
		}
	}

	.day-event {
		background-color: $grey3;
		display: block;
		margin: 5px 0;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		&:hover {
			background-color: $grey2;
		}

		.event-words {
			font-size: 13px;
		}

		.event-header {
			width: 100%;
			max-width: 100%;

			.value {
				font-size: 15px;
			}
		}

		.inline-event {
			margin-right: 20px;
		}
	}
}

.no-label {
	.display {
		display: none;
	}
	.editable-input, .value {
		margin-left: 0;
	}
}