$primary: #336699;
$primaryHover: #235689;
$textOnPrimary: #FFF;
$textOnPrimaryHover: #EEE;
$hyperLink: #5386B9;

$text: #000000;
$headerGrey: #333333;
$grey1: #666666;
$grey2: #EEEEEE;
$grey3: #F6F6F6;
$title: #F6F6F6;