$hyperLink			: rgb(116, 158, 185);
$hyperLinkBackup	: rgb(83, 134, 185);
$header 			: rgb(50, 92, 119);
$primary 			: #547E99;
$primaryHover 		: #446E89;
$primaryBackup		: rgb(51, 102, 153);
$primaryHoverBackup : rgb(35, 86, 137);
$textOnPrimary 		: #FFF;
$textOnPrimaryHover : #E4E7E7;

$text 				: #000000;
$headerGrey			: #333333;
$grey1				: #576D75;
// $borderGrey		: #CCCCCC;
// $borderGrey		: #B0C4CF;
$borderGrey			: #B6C4C9;
$grey2				: #E2E7E9;
$grey3				: #F6F6F6;
$title				: #F6F6F6;

$delete 			: rgb(237, 94, 105);
$deleteHover 		: rgb(205, 62, 73);