$hyperLink			: rgb(116, 158, 185);
$hyperLinkBackup	: rgb(83, 134, 185);
$primary 			: rgb(84, 126, 153);
$primaryHover 		: rgb(68, 110, 137);
$primaryBackup		: rgb(51, 102, 153);
$primaryHoverBackup : rgb(35, 86, 137);
$textOnPrimary 		: #FFF;
$textOnPrimaryHover : #EEE;

$text 				: #000000;
$headerGrey			: #333333;
$grey1				: #666666;
$borderGrey			: #CCCCCC;
$grey2				: #EEEEEE;
$grey3				: #F6F6F6;
$title				: #F6F6F6;

$delete 			: rgb(237, 94, 105);
$deleteHover 		: rgb(205, 62, 73);