@import 'Colors';

.dashboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;

	.column {
		flex: 1;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		margin: 0 10px;
		height: calc(100vh - 90px);
	}

	.widget {
		height: auto;
		background-color: $grey3;
		flex: 1;
		padding: 5px;
		font-weight: lighter;
		margin: 10px 0;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
		display: block !important;
		width: 100%;

		.widget-header {
			font-size: 18px;
			margin: 5px;
			display: inline-block
		}
	}

	.todo {
		.day-view {
			padding: 0 5px;
			width: auto;
			min-width: 350px;
		}
	}

	.first-column {
		flex: 3;
	}

	.second-column {
		flex: 2;
	}

	.third-column {
		flex: 2;
	}

	.priority {
		min-width: 400px;
	}
}

