@import 'SideNav';

.header-wrapper {
	width: 100%;
	height: 60px;
	background-color: $header;
	position: fixed;
	top: 0;
	left: 0;
	color: $textOnPrimary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	box-sizing: border-box;
	z-index: 2;

	.company-title {
		font-size: 20px;
		font-weight: bolder;
		color: $grey2;
	}

	.right-content {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 15px;
		overflow: hidden;

		@media screen and (max-width: 500px) {
			max-width: 42px;
		}

		select {
			margin: 0 10px;
			width: 300px;
		}

		.hoverable {
			font-size: 25px;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			margin: 0 10px;
			margin-left: 25px;

			&:hover {
				color: $textOnPrimaryHover;
			}
		}
	}
}