.page-content {
	margin-top: 60px;
	width: 100vw;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.line-item {	
	font-size: 13px;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 300px;

	.display {
		font-weight: normal;
		color: $primaryHover;
	}

	.value {
		font-weight: lighter;
		margin-left: 10px;
	}

	input {
		padding: 5px;
		margin-left: 10px;
		width: 150px;
		font-family: inherit;
	}
}

.card {
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	clear: both;
	background-color: $textOnPrimary;

	&:hover {
		background-color: $grey3;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
}

.no-fade {
	cursor: initial;
	&:hover {
		background-color: $textOnPrimary;
	}
}

.edit-page {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 10px;
}

.left-column {
	width: 300px;
	margin-right: 20px;
}

.work-flow {
	flex: 4;
	padding: 0 !important;
}

.work-flow-padding {
	flex: 4;
}

.jobs-subsection {
	margin-top: 20px;
}

.drawing-header {
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $borderGrey;
	padding: 0 5px;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;

	h4 {
		margin-left: 10px;
	}

	span {
		padding: 0 5px;
		font-weight: lighter;
		font-style: italic;
	}
}

.flex-spacer {
	flex: 1;
}

.company-id {
	margin: 10px 0;
	color: $primary;
}

.companies {
	margin-top: 20px;
}