.page-content {
	margin-top: 60px;
	width: 100vw;
	height: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	position: relative;
	display: inline-block;
}

.loading-block {
	.loading-message {
		font-size: 15px;
	}
	.loading-bar-container {
		height: 10px;
		width: 100%;
		background-color: $grey2;
		margin-top: 10px;
		position: relative;
		overflow: hidden;
		border-radius: 5px;

		.loading-bar-movement {
			width: 30%;
			height: 100%;
			background-color: $primary;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 5px;
		}
	}
}

.line-item {	
	font-size: inherit;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 300px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $grey3;
	}

	div {
		text-align: right;
	}

	.display {
		font-weight: normal;
		color: $primaryHover;
		min-width: 75px;
		font-size: 15px;
	}

	.value {
		font-weight: lighter;
		margin-left: 10px;
		white-space: pre-wrap;
	}

	input, textarea {
		width: 100%;
		font-family: inherit;
		background-color: transparent;

		@media screen and (max-width: 500px) {
			width: 100%;
		}
	}
}

.editable {
	flex-wrap: wrap;
	.display {
		display: block;
		width: 100%;
		margin-bottom: 4px;
		font-size: 13px;
	}
}

.description {
	font-size: 15px;
}

.card {
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	clear: both;
	background-color: $textOnPrimary;

	&:hover {
		background-color: $grey3;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
}

.no-fade {
	cursor: initial;
	&:hover {
		background-color: $textOnPrimary;
	}
}

.edit-page {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	padding: 10px 2vw;
	min-width: 250px;
	box-sizing: border-box;
	flex-direction: column;

	@media screen and (max-width: 500px) {
		width: 100%;
		max-height: none !important;

		.line-item {
			max-width: 100%;
			width: 100%;
		}
	}
}

.left-column {
	width: 300px;
	margin-right: 20px;

	@media screen and (max-width: 500px) {
		width: 100%;
		margin-right: 0;
	}
}

.work-flow {
	flex: 4;
	padding: 0 !important;
}

.work-flow-padding {
	flex: 4;
}

.jobs-subsection {
	margin-top: 20px;
}

.drawing-header {
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $borderGrey;
	padding: 0 5px;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;

	h4 {
		margin-left: 10px;
	}

	span {
		padding: 0 5px;
		font-weight: lighter;
		font-style: italic;
	}
}

.flex-spacer {
	flex: 1;
}

.company-id {
	margin: 25px 0;
	color: $primary;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;

	.label {
		color: $headerGrey;
		margin-right: 7px;
	}
	.button {
		margin-left: 20px;

		@media screen and (max-width: 500px) {
			margin-left: 0;
		}
	}
}

.companies {
	margin-top: 20px;
}

.sub-window {
	margin-top: 15px;

	@media screen and (max-width: 500px) {
		margin-top: 0;
	}
}

.toggle-pills {
	border: 1px solid $borderGrey;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 10px;

	input {
		display: none;
	}

	label {
		padding: 8px 25px;
		display: inline-block;
		font-size: 13px;
		color: $grey1;
		transition: all 0.3s ease-in-out;
		border-right: 1px solid $borderGrey;
		cursor: pointer;

		&:hover {
			background-color: $grey3;
		}

		&:last-child {
			border-right: none;
		}
	}
	input[type=radio]:checked + label {
		background-color: $grey2;
	}

	&.inverted {
		margin: 15px 0 70px 0;

		label {
			font-size: 15px;
		}
	}

	&.under-inverted {
		position: absolute;
		top: 70px;
	}
}

.notes {
	padding: 15px 5px;
}

.flexible {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	@media screen and (max-width: 500px) {
		h3 {
			margin-right: 15px;
			margin-bottom: 20px;
		}
	}
}

.tool-image {
	max-width: 500px;
	flex: 1;
	min-width: 200px;

	@media screen and (max-width: 500px) {
		margin: 20px 2vw;
	}
}

.tool-data {
	width: 100%;
}

.loading-screen {
	font-size: 15px;
}