.page-content {
	margin-top: 60px;
	width: 100vw;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.line-item {
	display: block;
	font-size: 13px;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.display {
		font-weight: normal;
		color: $primaryHover;
	}

	.value {
		font-weight: lighter;
		margin-left: 10px;
	}

	input {
		padding: 5px;
		margin-left: 10px;
	}
}

.card {
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	clear: both;

	&:hover {
		background-color: $grey3;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
}

.no-fade {
	&:hover {
		background-color: initial;
	}
}

.edit-page {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 10px;
}

.left-column {
	flex: 1;
	width: 300px;
	margin-right: 20px;
}

.work-flow {
	flex: 4;
}