@import 'Colors';

h2 {
	font-weight: lighter;
	color: $title;
	font-size: 30px;
	margin: 0;
}

h3 {
	color: $headerGrey;
	font-size: 25px;
	margin: 0.6em 0;
	font-weight: 500;
}

h4 {
	font-weight: lighter;
	color: $headerGrey;
	font-size: 20px;
	margin-bottom: 0.3em;
}