@import './colors';

.login-modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 600px;

	.login, .register {
		text-align: left;
		padding: 15px;
	}

	.login {
		border-right: 1px solid $borderGrey;
		flex: 1;
		padding-right: 30px;

		.interactions {
			margin-top: 20px;

			.login-email, .login-password {
				font-size: 15px;
				margin: 5px 0;
				width: 300px;
				font-weight: lighter;
			}
		}

		.forgot-password {
			font-size: 12px;
			margin-left: 15px;
		}
	}

	.register {
		flex: 1;
		padding-left: 30px;

		.register-button {
			margin-top: 30px;
		}
	}
}

.error-message {
	color: $delete;
	font-size: 12px;
}

.login-modal {
	.create-user {
		width: 100%;
		text-align: left;
		position: relative;

		.interactions {
			margin-top: 20px;
		}

		.create-email, .create-password, .create-name {
			border: none;
			font-size: 15px;
			padding: 8px 15px;
			border-bottom: 1px solid $borderGrey;
			display: block;
			margin: 10px 0;
			width: 100%;
			max-width: 400px;
		}

		.create-email, .create-password {
			display: inline-block;
			width: 45%;
			margin-right: 10px;
		}

		.create-button {
			margin-top: 20px;
		}
	}
}

.bad-input {
	border-color: $delete !important;
}

.final-message {
	font-size: 15px;
	margin-top: 20px;
	color: $primary;
}