@import './colors';


.login-screen {
	text-align: center;

	.big-title {
		position: fixed;
		bottom: 0;
		right: -5px;
		font-size: 400px;
		z-index: -1;
		color: $primaryTranslucent;
		line-height: 0.7em;
		font-weight: bold;

		@media screen and (max-width: 1400px) {
			font-size: 300px;
		}

		@media screen and (max-width: 1000px) {
			font-size: 250px;
		}

		@media screen and (max-width: 830px) {
			display: none;
		}
	}

	.save-button {
		float: none;
	}

	.title-box {
		width: 100vw;
		text-align: center;
		margin: 20px 0;

		@media screen and (max-width: 830px) {
			text-align: inherit;
		}

		h1 {
			font-size: 40px;
			color: $primaryHover;
			margin: 10px 0;
		}

		.login-description {
			font-size: 16px;
			color: $hyperLink;
		}
	}

	.bio-box {
		text-align: left;

		@media screen and (max-width: 400px) {
			margin-top: 0;

			h1 {
				margin: 0;
			}
		}

		.toolbox-bio {
			font-size: 17px;
			line-height: 1.5em;
			width: 70%;
			font-weight: normal;

			@media screen and (max-width: 430px) {
				width: 100%;
			}

			@media screen and (max-width: 400px) {
				width: 100%;
				font-size: 15px;
			}
		}
	}

	.login-modal {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 800px;

		.login-title {
			font-size: 18px;
		}

		.register-desc {
			font-size: 15px;
			margin-bottom: 15px;
			line-height: 1.4em;
			color: $grey1;
		}

		.read-more-action {
			margin: 0 0 10px 0;
			font-weight: normal;
			display: block;
			font-size: 15px;
		}

		@media screen and (max-width: 830px) {
			box-shadow: none;
			padding: 20px;
			padding-bottom: 60px;
			height: 100vh;
			align-items: center;
			max-width: 500px;

			.login-title {
				min-width: 250px;
			}
		}

		.create-email, .create-password, .create-name {
			border: none;
			font-size: 16px;
			padding: 8px 15px;
			border-bottom: 1px solid $borderGrey;
			display: inline-block;
			margin: 10px 0;
			width: 100%;
			max-width: 400px;
			box-sizing: border-box;
			min-width: 300px;
			text-align: start;

			@media screen and (max-width: 830px) {
				min-width: 200px;
			}
		}

		.create-user {
			width: 100%;
			text-align: left;
			position: relative;
			text-align: inherit;

			.required {
				border-bottom: 1px solid $hyperLink;
			}

			.create-button {
				margin-top: 20px;
			}
		}

		.login, .register {
			text-align: left;
			padding: 15px;

			@media screen and (max-width: 830px) {
				text-align: inherit;
			}
		}

		.interactions {
			margin-top: 20px;

			.company-instructions {
				text-align: left;
				width: 100%;
				max-width: 400px;
				margin: auto;
				font-weight: normal;
				font-size: 13px;
			}
		}

		.login {
			flex: 3;
			padding-right: 30px;

			@media screen and (max-width: 830px) {
				border-right: none;
				padding: 0px;
				min-width: 300px;
				width: 100vw;
				flex: initial;
			}

			@media screen and (max-width: 350px) {
				min-width: 275px;
			}

			.forgot-password {
				font-size: 12px;
				margin-left: 15px;
			}
		}

		.register {
			flex: 2;
			padding-left: 30px;

			@media screen and (max-width: 830px) {
				padding: 0px;
				padding-top: 0px;
				width: 100vw;
				flex: initial;
			}
			@media screen and (max-width: 600px) {
				padding-top: 50px;
			}
		}
	}

	.error-message {
		color: $delete;
		font-size: 12px;
		display: block;
	}

	.bad-input {
		border-color: $delete !important;
	}

	.final-message {
		font-size: 15px;
		margin: 40px 0;
		color: $primary;
	}

	.required-legend {
		font-size: 12px;
		border-bottom: 1px solid $hyperLink;
		color: $hyperLink;
		margin-left: 20px;
	}

	.finish-buttons {
		.progress {
			width: 100%;
			background-color: transparent;
			height: 5px;
			margin-top: 5px;

			.progress-slide {
				width: 0%;
				height: 100%;
				background-color: $hyperLink;
				transition: width 5s;
			}

			.grow {
				width: 100%;
			}
		}
	}
}
	