@import './colors';


.login-screen {
	text-align: center;

	.save-button {
		float: none;
	}

		

	.title-box {
		width: 100vw;
		text-align: center;
		margin: 20px 0;

		@media screen and (max-width: 830px) {
			text-align: inherit;
		}

		h1 {
			font-size: 40px;
			color: $primaryHover;
			margin: 10px 0;
		}

		.login-description {
			font-size: 16px;
			color: $hyperLink;
		}
	}

	.login-modal {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 800px;

		@media screen and (max-width: 830px) {
			box-shadow: none;
			padding: 20px;
			padding-bottom: 60px;
			max-height: none;
			min-height: 100vh;
			align-items: center;

			.login-title {
				min-width: 250px;
			}
		}

		.create-email, .create-password, .create-name {
			border: none;
			font-size: 16px;
			padding: 8px 15px;
			border-bottom: 1px solid $borderGrey;
			display: inline-block;
			margin: 10px 0;
			width: 100%;
			max-width: 400px;
			box-sizing: border-box;
			min-width: 300px;
			text-align: start;

			@media screen and (max-width: 830px) {
				min-width: 200px;
			}
		}

		.create-user {
			width: 100%;
			text-align: left;
			position: relative;
			text-align: inherit;

			.required {
				border-bottom: 1px solid $hyperLink;
			}

			.create-button {
				margin-top: 20px;
			}
		}

		.login, .register {
			text-align: left;
			padding: 15px;

			@media screen and (max-width: 830px) {
				text-align: inherit;
			}
		}

		.interactions {
			margin-top: 20px;
		}

		.login {
			border-right: 1px solid $borderGrey;
			flex: 3;
			padding-right: 30px;

			@media screen and (max-width: 830px) {
				border-right: none;
				padding: 0px;
				min-width: 300px;
			}

			@media screen and (max-width: 350px) {
				min-width: 275px;
			}

			.forgot-password {
				font-size: 12px;
				margin-left: 15px;
			}
		}

		.login-button {
			margin-top: 20px;
		}

		.register {
			flex: 2;
			padding-left: 30px;

			@media screen and (max-width: 830px) {
				padding: 0px;
				padding-top: 0px;
			}
			@media screen and (max-width: 600px) {
				padding-top: 50px;
			}
		}
	}

	.error-message {
		color: $delete;
		font-size: 12px;
		display: block;
	}

	.bad-input {
		border-color: $delete !important;
	}

	.final-message {
		font-size: 15px;
		margin: 40px 0;
		color: $primary;
	}

	.required-legend {
		font-size: 12px;
		border-bottom: 1px solid $hyperLink;
		color: $hyperLink;
		margin-left: 20px;
	}

	.finish-buttons {
		.progress {
			width: 100%;
			background-color: transparent;
			height: 5px;
			margin-top: 5px;

			.progress-slide {
				width: 0%;
				height: 100%;
				background-color: $hyperLink;
				transition: width 5s;
			}

			.grow {
				width: 100%;
			}
		}
	}
}
	