.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	overflow: auto;

	.modal-content {
		width: 100%;
		box-sizing: border-box;
		background-color: $textOnPrimary;
		height: auto;
		max-height: 85vh;
		color: $text;
		padding: 25px;
		box-shadow: 0 0 35px rgba(0,0,0,0.3);
		border-radius: 3px;
		font-weight: lighter;
		font-size: 20px;
		transition: all 0.3s ease-in-out;

		.delete-modal-button-container {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-top: 25px;
		}
	}

	.delete-modal {
		max-width: 400px;
	}
}

.login-container {

	@media screen and (max-width: 830px) {
		align-items: flex-start;
	}

}