.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	overflow: auto;

	@media screen and (max-height: 600px) {
		align-items: flex-start;
	}

	.modal-content {
		width: 100%;
		box-sizing: border-box;
		background-color: $textOnPrimary;
		height: auto;
		max-height: 85vh;
		color: $text;
		padding: 25px 2vw;
		box-shadow: 0 10px 35px rgba(0,30,80,0.3);
		border-radius: 3px;
		font-weight: lighter;
		transition: all 0.3s ease-in-out;
		position: relative;

		.delete-modal-button-container {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-top: 25px;
		}


	}

	.delete-modal {
		max-width: 400px;
		font-size: 20px;
	}
}

.login-container {

	@media screen and (max-width: 830px) {
		align-items: flex-start;
	}

}

.modal-container .editor {
	width: 100%;
	max-width: 830px;

	@media screen and (max-height: 400px) {
		height: auto;
		min-height: 100%;
	}

	@media screen and (max-width: 830px) {
		max-height: 2000px;
		border-radius: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.close-small {
	display: none;

	@media screen and (max-width: 400px) {
		display: block;
	}

	.close-x {
		font-size: 19px;
	}
}

.modal-corner-buttons {
	display: flex;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;

	@media screen and (max-width: 500px) {
		margin: 0 2vw 30px 2vw;
	}

	h3 {
		margin: 0;
	}
}

.editor-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	@media screen and ( max-width: 700px ) {
		justify-content: center;
	}
}

.units-space {
	padding-left: 10px;
}

.purchase-command {
	font-size: 18px;
	color: $grey1;
	text-align: right;
	margin: 0 30px 20px; // top right-left bottom
	
}