.shown-box {
	font-size: 12px;
	background-color: $textOnPrimary;
	padding: 5px 8px;
	cursor: pointer;
	color: $text;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.view {
	padding-right: 5px;
}
 
.screen-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}

.down {
	transform: rotate(180deg);
}

.time {
	.ms-select {
		display: inline-block;
		margin: 3px;
	}
}

.ms-select {
	position: relative;
	font-weight: normal;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);

	&:hover {
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
	}

	.drop-list {
		position: absolute;
		top: 23px;
		left: 0;
		width: 100%;
		box-shadow: 0 0 4px rgba(0,0,0,0.3);
		border-radius: 2px;
		z-index: 1;

		li {
			color: $text;
			background-color: $textOnPrimary;
			width: 100%;
			font-size: 12px;
			padding: 5px 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			box-sizing: border-box;

			&:hover {
				background-color: $textOnPrimaryHover;
			}
		}
	}
}

.header-select {
	width: 200px;
}

.form-select {
	box-shadow: none;
	margin-left: 10px;
	width: 150px;
	font-family: inherit;
	border: 1px solid $borderGrey;
	box-sizing: border-box;

	&:hover {
		box-shadow: none;
	}
}

.time-select {
	box-shadow: none;
	margin-left: 10px;
	font-family: inherit;
	border: 1px solid $borderGrey;
	box-sizing: border-box;

	&:hover {
		box-shadow: none;
	}
}