.setup {
	.setup-modal {
		.editor {
			max-width: 1000px;
			display: block;

			.part-data {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-wrap: wrap;
				padding-top: 15px;

				.meta-block {
					min-width: 300px;
					margin-bottom: 50px;

					.line-item, .line-item .display {
						font-size: 15px;
					}

					@media screen and (max-width: 500px) {
						width: 100%;
						padding-left: 8px;
					}
				}
			}

			h4 {
				margin: 10px 0 5px 0;
				font-size: 20px;
				font-weight: 500;
				color: $headerGrey;

				@media screen and (max-width: 500px) {
					width: 100%;
					text-align: center;
					margin: 30px 0 20px;
				}

				&.desc-header {
					margin: 30px 0 20px;
				}
			}

			.setup-header, .work-holding, .material-info {
				padding-bottom: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				.line-item {
					min-width: 300px;
					max-width: 300px;
					padding: 5px 10px;
				}
			}

			.select-tool, .tool-clearance, .tool-life {
				margin: 0 5px;
				margin-left: 0;
				.display {
					display: none;
					min-width: 0;
					max-width: max-content;
				}

				div {
					margin-left: 0;
				}
			}

			.fixed-value {
				font-size: 13px;
				min-width: 170px;
			}

			.part-number-heading,
			.part-name-heading,
			.customer-heading,
			.job-number-heading,
			.revision-heading,
			.operation-heading {
				min-width: 0;
				padding: 2px 0;
				padding-right: 5px;
				display: inline-block;
				.display {
					display: none;
				}
				.value {
					margin-left: 0;
				}
			}

			.name-block {
				position: absolute;
				display: flex;
				align-items: center;
				top: 20px;
				left: 20px;
			}

			.part-number-heading {
				.value {
					color: $primaryHover;
					font-size: 30px;
					font-weight: 500;
				}
			}

			.part-name-dash {
				color: $primaryHover;
				font-size: 30px;
				font-weight: 400;
			}

			.part-name-heading {
				.value {
					color: $primaryHover;
					font-size: 25px;
					margin-left: 5px;
				}
			}

			.setup-tools {
				width: 100%;

				th {
					text-align: left;
					font-size: 13px;
				}

				.line-item {
					&:hover {
						background-color: transparent;
					}
				}

				.tool-row {
					.value {
						margin-left: 0;
					}
					transition: all 0.3s ease-in-out;

					&:hover {
						background-color: $grey3;
					}

					td {
						min-width: 100px;
					}
				}

				thead.tool-row:hover {
					background-color: transparent;
				}
			}

			.job-number-heading,
			.customer-heading,
			.revision-heading,
			.operation-heading {
				display: flex;
				max-width: max-content;
				.display {
					display: inline-block;
					margin-right: 10px;
				}
			}

			.work-holding {
				align-items: flex-start;
			}

			.column-group {

			}
		}
	}
}