@import 'Colors';

.purchase-toggle {

	margin: 20px 0 50px 0;

	@media screen and (max-width: 500px) {
		text-align: center;
		margin-left: 0px;
	}

	input {
		display: none;
	}

	label {
		border: 1px solid $borderGrey;
		border-right: none;
		padding: 10px 25px;
		cursor: pointer;
		color: $grey1;
		font-size: 15px;
		transition: all 0.3s ease-in-out;
		background-color: $textOnPrimary;

		&:last-child {
			border-right: 1px solid $borderGrey;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&:hover {
			background-color: $grey3;
		}
	}
	.checked-label {
		background-color: $grey2;
	}

	.purchase-label-one {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.money {
	justify-content: flex-start;

	.money-sign {
		padding-right: 5px;
	}
}