@import 'Colors';


.sidenav-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.sidenav-view {
	position: fixed;
	height: 100vh;
	width: 300px;
	top: 0;
	right: 0;
	background-color: #FFF;
	box-shadow: -3px 0 5px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
	z-index: 2;

	.sidenav-header {
		width: 100%;
		background-color: $primary;
		height: 120px;
	}

	.sidenav-content {
		li {
			width: 100%;

			a {
				display: inline-block;
				width: 100%;
				box-sizing: border-box;
				padding: 20px;
				text-decoration: none;
				color: $grey1;

				&:hover {
					background-color: $grey2;
				}
			}
		}
	}

}
.hide {
	right: -300px;
	box-shadow: none;
}
.gone {
	display: none;
}