table {
	border-collapse: collapse;
	font-weight: lighter;
	font-size: 14px;
}

.important-table, .mini-table {
	width: 100%;

	thead {
		background-color: transparent;
		border-bottom: 1px solid $borderGrey;
		width: 100%;

		th {
			text-align: right;
			padding: 8px;
			font-weight: normal;
		}
		th:first-child {
			text-align: left;
		}
	}

	tbody {
		tr {
			min-width: 290px;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: $grey3;
			}
		}
		td {
			text-align: right;
			padding: 8px;
			white-space: pre-wrap;
		}
		td:first-child {
			text-align: left;
		}
	}

	.small-row-link {
		display: none;
	}

	.small-table-link {
		display: none;
	}

	.large-table-link {
		display: inline-block;
	}

	@media screen and (max-width: 500px) {
		thead {
			display: none;
		}

		tbody {
			tr {
				display: block;
				background-color: $grey3;
				margin: 10px 0;
				box-shadow: 0 1px 5px rgba(0,0,0,0.2);
				position: relative;

				td {
					display: flex;
					justify-content: space-between;
					width: 100%;
					box-sizing: border-box;
					padding: 0;
					padding: 5px 10px;

					&:before {
						content: attr(data-label);
						display: inline-block;
						font-weight: normal;
						font-size: 14px;
					}
				}
			}
		}

		.small-row-link {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			display: block;
			cursor: pointer;
		}

		.large-table-link {
			display: none;
		}
		.small-table-link {
			display: inline-block;
		}
	}
}

.table-top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
	flex-wrap: wrap;
}

.search-bar {
	width: 100%;
	max-width: 300px;
	display: inline-block;
	box-sizing: border-box;

	input {
		width: 100%;
		font-size: 15px;
		padding: 5px 10px;
		box-sizing: border-box;
	}
}

.mini-table {
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;

	td:first-child, td:last-child {
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
}