table {
	border-collapse: collapse;
	font-weight: lighter;
}

.important-table, .mini-table {
	width: 100%;

	thead {
		background-color: $grey2;
		width: 100%;

		th {
			text-align: right;
			padding: 8px;
			font-weight: normal;
		}
		th:first-child {
			text-align: left;
		}
	}

	tbody {
		tr {
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: $grey3;
			}
		}
		td {
			text-align: right;
			padding: 5px 8px;
		}
		td:first-child {
			text-align: left;
			padding-left: 18px;
		}
		td:last-child {
			padding-right: 18px;
		}
	}
}

.table-top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.search-bar {
	width: 30%;
	min-width: 300px;
	display: inline-block;

	input {
		width: 100%;
		font-size: 15px;
		padding: 5px 10px;
	}
}

.mini-table {
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;

	td:first-child, td:last-child {
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
}