	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'Main/Animations';
@import 'Main/Colors';

body {
	background-color: #FFF;
	font-family: 'Roboto', arial;
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		color: $hyperLink;

		&:hover {
			text-decoration: underline;
			color: $primary;
		}
	}

	input, button {
		outline: none;
	}

	input {
		border: 1px solid $borderGrey;
		padding: 5px;
		box-sizing: border-box;	
		box-shadow: none;
		border-radius: 0;
	}
}

@import 'Main/Tables';	
@import 'Main/Htags';
@import 'Main/Buttons';
@import 'Main/Header';
@import 'Main/Modal';
@import 'Main/Operations';
@import 'Main/Home';
@import 'Main/Dashboard';
@import 'Main/Calendar';
@import 'Main/Login';
@import 'Main/Select';

.gone {
	display: none !important;
}
