@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/animations\.scss}line{font-family:\000031}}
.slide-to-right {
  animation: slide-to-right 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/animations\.scss}line{font-family:\000035}}
.fade-in {
  animation: fade-in 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/animations\.scss}line{font-family:\000039}}
.fade-out {
  animation: fade-out 0.4s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/animations\.scss}line{font-family:\0000313}}
.spun {
  animation: spun 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/animations\.scss}line{font-family:\0000317}}
.spun-back {
  animation: spun-back 0.3s; }

@keyframes slide-to-right {
  from {
    right: -300px; }
  to {
    right: 0; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes spun {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }
@keyframes spun-back {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(0deg); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\000031}}
.shown-box {
  font-size: 12px;
  background-color: #FFF;
  padding: 5px 8px;
  border-radius: 2px;
  cursor: pointer;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000313}}
.view {
  padding-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000317}}
.screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000326}}
.down {
  transform: rotate(180deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000331}}
.time .ms-select {
  display: inline-block;
  margin: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000337}}
.ms-select {
  position: relative;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000343}}
  .ms-select:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000347}}
  .ms-select .drop-list {
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000356}}
    .ms-select .drop-list li {
      color: #000000;
      background-color: #FFF;
      width: 100%;
      font-size: 12px;
      padding: 5px 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000366}}
      .ms-select .drop-list li:hover {
        background-color: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000373}}
.header-select {
  width: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000377}}
.form-select {
  box-shadow: none;
  margin-left: 10px;
  width: 150px;
  font-family: inherit;
  border: 1px solid #CCCCCC;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000385}}
  .form-select:hover {
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000390}}
.time-select {
  box-shadow: none;
  margin-left: 10px;
  font-family: inherit;
  border: 1px solid #CCCCCC;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/select\.scss}line{font-family:\0000397}}
  .time-select:hover {
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\000031}}
table {
  border-collapse: collapse;
  font-weight: lighter; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\000036}}
.important-table, .mini-table {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\000039}}
  .important-table thead, .mini-table thead {
    background-color: #EEEEEE;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000313}}
    .important-table thead th, .mini-table thead th {
      text-align: right;
      padding: 8px;
      font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000318}}
    .important-table thead th:first-child, .mini-table thead th:first-child {
      text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000324}}
  .important-table tbody tr, .mini-table tbody tr {
    transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000326}}
    .important-table tbody tr:hover, .mini-table tbody tr:hover {
      background-color: #F6F6F6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000330}}
  .important-table tbody td, .mini-table tbody td {
    text-align: right;
    padding: 5px 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000334}}
  .important-table tbody td:first-child, .mini-table tbody td:first-child {
    text-align: left;
    padding-left: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000338}}
  .important-table tbody td:last-child, .mini-table tbody td:last-child {
    padding-right: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000344}}
.table-top {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000350}}
.search-bar {
  width: 30%;
  min-width: 300px;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000355}}
  .search-bar input {
    width: 100%;
    font-size: 15px;
    padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000362}}
.mini-table {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/tables\.scss}line{font-family:\0000367}}
  .mini-table td:first-child, .mini-table td:last-child {
    padding-left: 8px !important;
    padding-right: 8px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/htags\.scss}line{font-family:\000033}}
h2 {
  font-weight: lighter;
  color: #F6F6F6;
  font-size: 30px;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/htags\.scss}line{font-family:\0000310}}
h3 {
  font-weight: lighter;
  color: #333333;
  font-size: 25px;
  margin: 0.6em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/htags\.scss}line{font-family:\0000317}}
h4 {
  font-weight: lighter;
  color: #333333;
  font-size: 20px;
  margin-bottom: 0.3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\000033}}
.button {
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  background-color: #547e99;
  color: #FFF;
  font-size: 12px;
  font-family: inherit;
  display: inline-block;
  font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000319}}
  .button:hover {
    background-color: #446e89;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000327}}
.white-button {
  background-color: #FFF;
  color: #547e99; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000331}}
  .white-button:hover {
    background-color: #EEE;
    color: #446e89; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000337}}
.header-select-btn {
  margin-right: 15px;
  padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000342}}
.table-button {
  font-size: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000346}}
.save-button {
  background-color: #749eb9;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000351}}
.delete-button {
  background-color: #ed5e69;
  font-size: 16px;
  padding: 6px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000356}}
  .delete-button:hover {
    background-color: #cd3e49;
    color: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000362}}
.delete-button-reverse {
  background-color: #FFF;
  color: #ed5e69; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000366}}
  .delete-button-reverse:hover {
    background-color: #EEE;
    color: #cd3e49; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000372}}
.submit-button-line {
  display: flex;
  justify-content: flex-end; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000377}}
.mini-select-button {
  padding: 5px 8px;
  font-size: 11px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000382}}
.small-button {
  font-size: 10px;
  padding: 7px 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000387}}
.button-bar {
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000391}}
.close-button {
  background-color: #F6F6F6;
  color: #666666;
  font-size: 15px;
  padding: 2px 5px;
  box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/buttons\.scss}line{font-family:\0000398}}
  .close-button:hover {
    background-color: #EEEEEE;
    color: #666666;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\000034}}
.sidenav-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000313}}
.sidenav-view {
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  right: 0;
  background-color: #FFF;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000324}}
  .sidenav-view .sidenav-header {
    width: 100%;
    background-color: #547e99;
    height: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000331}}
  .sidenav-view .sidenav-content li {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000334}}
    .sidenav-view .sidenav-content li a {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      text-decoration: none;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000342}}
      .sidenav-view .sidenav-content li a:hover {
        background-color: #EEEEEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000350}}
.hide {
  right: -300px;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/sideNav\.scss}line{font-family:\0000354}}
.gone {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/header\.scss}line{font-family:\000033}}
.header-wrapper {
  width: 100%;
  height: 60px;
  background-color: #547e99;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/header\.scss}line{font-family:\0000317}}
  .header-wrapper .right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/header\.scss}line{font-family:\0000322}}
    .header-wrapper .right-content select {
      margin: 0 10px;
      width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/header\.scss}line{font-family:\0000327}}
    .header-wrapper .right-content .hoverable {
      font-size: 25px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      margin: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/header\.scss}line{font-family:\0000333}}
      .header-wrapper .right-content .hoverable:hover {
        color: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\000031}}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000312}}
  .modal-container .modal-content {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #FFF;
    height: auto;
    max-height: 85vh;
    color: #000000;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000327}}
    .modal-container .modal-content .delete-modal-button-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000333}}
      .modal-container .modal-content .delete-modal-button-container .delete-modal-button {
        background-color: #FFF;
        font-size: 15px;
        box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000338}}
        .modal-container .modal-content .delete-modal-button-container .delete-modal-button:hover {
          background-color: #EEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000343}}
      .modal-container .modal-content .delete-modal-button-container .accept {
        color: #ed5e69; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/modal\.scss}line{font-family:\0000347}}
      .modal-container .modal-content .delete-modal-button-container .reject {
        color: #547e99; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\000033}}
h4 {
  margin: 0;
  display: inline-block;
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\000039}}
.operations-header-row {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000315}}
.operation {
  background-color: #F6F6F6;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000323}}
  .operation:hover {
    background-color: #EEEEEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000327}}
  .operation .op-meta-data {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000332}}
    .operation .op-meta-data .line-item {
      margin-right: 1vw;
      width: 280px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000338}}
  .operation .machine-operation {
    border-top: 1px solid #CCCCCC;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/operations\.scss}line{font-family:\0000349}}
.operation-list-container .no-fade:hover {
  background-color: #F6F6F6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\000031}}
.page-content {
  margin-top: 60px;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\000039}}
.line-item {
  font-size: 13px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000318}}
  .line-item .display {
    font-weight: normal;
    color: #446e89; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000323}}
  .line-item .value {
    font-weight: lighter;
    margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000328}}
  .line-item input {
    padding: 5px;
    margin-left: 10px;
    width: 150px;
    font-family: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000336}}
.card {
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000345}}
  .card:hover {
    background-color: #F6F6F6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000351}}
.no-fade {
  cursor: initial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000353}}
  .no-fade:hover {
    background-color: initial; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000358}}
.edit-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000366}}
.left-column {
  width: 300px;
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000371}}
.work-flow {
  flex: 4;
  padding: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000376}}
.work-flow-padding {
  flex: 4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000380}}
.jobs-subsection {
  margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000384}}
.drawing-header {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000394}}
  .drawing-header h4 {
    margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\0000398}}
  .drawing-header span {
    padding: 0 5px;
    font-weight: lighter;
    font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/home\.scss}line{font-family:\00003105}}
.flex-spacer {
  flex: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\000033}}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000310}}
  .dashboard .column {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    height: calc(100vh - 85px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000320}}
  .dashboard .widget {
    background-color: #F6F6F6;
    flex: 1;
    min-height: 100px;
    padding: 5px;
    font-weight: lighter;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block !important;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000331}}
    .dashboard .widget .widget-header {
      font-size: 18px;
      margin: 5px;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000338}}
  .dashboard .first-column {
    flex: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000342}}
  .dashboard .second-column {
    flex: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/dashboard\.scss}line{font-family:\0000346}}
  .dashboard .third-column {
    flex: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\000034}}
.calendar .modal-content {
  position: relative;
  width: auto;
  max-width: 100vw;
  transition: all 0.3s ease-in-out;
  padding: 0;
  max-height: 100vh; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000312}}
  .calendar .modal-content .calendar-header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000320}}
  .calendar .modal-content .month-view {
    width: 100vw;
    max-width: 1000px;
    display: inline-block;
    text-align: left;
    padding: 25px;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000328}}
    .calendar .modal-content .month-view .calendar-body {
      margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000332}}
    .calendar .modal-content .month-view .week, .calendar .modal-content .month-view .day-headers {
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000339}}
      .calendar .modal-content .month-view .week .day-header, .calendar .modal-content .month-view .day-headers .day-header {
        flex: 1;
        text-align: center;
        font-size: 12px;
        background-color: #333333;
        color: #EEEEEE;
        padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000349}}
    .calendar .modal-content .month-view .day {
      font-size: 12px;
      text-align: right;
      height: 120px;
      flex: 1;
      box-sizing: border-box;
      padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000358}}
    .calendar .modal-content .month-view .other-month {
      background-color: #F6F6F6;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000363}}
    .calendar .modal-content .month-view .today {
      background-color: #749eb9;
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000368}}
    .calendar .modal-content .month-view .events {
      width: 100%;
      height: calc(100% - 15px);
      border-radius: 2px;
      transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000374}}
      .calendar .modal-content .month-view .events:hover {
        background-color: rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000380}}
  .calendar .modal-content .day-view {
    width: 100vw;
    max-width: 500px;
    display: inline-block;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
    min-height: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/Main\/calendar\.scss}line{font-family:\0000389}}
    .calendar .modal-content .day-view .form {
      background-color: #F6F6F6;
      display: block;
      margin-top: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000316}}
body {
  background-color: #FFF;
  font-family: 'Roboto', arial;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000321}}
  body ul {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000326}}
  body li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000332}}
  body a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #749eb9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000338}}
    body a:hover {
      text-decoration: underline;
      color: #547e99; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000344}}
  body input, body button {
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amaclean\/machShop\/machshop-frontend\/src\/Components\/CSS\/style\.scss}line{font-family:\0000348}}
  body input {
    border: 1px solid #CCCCCC;
    padding: 5px;
    box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
